@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
}

.centro {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menubar {
	padding: 0 !important;
	margin: 0 !important;
	background-color:  #1E90ff !important;
}

.submenu a span {
	color: #000000 !important;
}

.submenu ul {
	background-color: #1E90ff !important;
}

.butao_adicionar {
	width: 50% !important;
	color: #000000 !important;
	background-color:  #1E90ff !important;
}

.butao_gerar {
	width: 50% !important;
	color: #000000 !important;
	background-color:  #1E90ff !important;
}

.butao_limpar {
	width: 50% !important;
	color: #000000 !important;
	background-color:  #1E90ff !important;
}

.butao_listar {
	width: 50% !important;
	color: #000000 !important;
	background-color:  #1E90ff !important;
} 